<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Practice</title>
    <style>
      #map {
        height: 450px;
        width: 50%;
        float: right;
       }
    </style>
  </head>
  <body>
    Map

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var location = [{lat: 34.852619, lng: -82.394012},
                        {lat: 34.8625, lng: -82.3857}];
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 34.8574, lng: -82.390189},
        });
        for (var i = 0; i < location.length; i++) {
          var marker = new google.maps.Marker({
            position: location[i],
            map: map
          });
        }

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ2GhgOOCaoypV0JCC4NnxS-M0enWpN64&callback=initMap">
    </script>
  </body>
</html>
